<section class="my-3" id="homeContainer">
    <h3 class="text-center">Sold Out Soon</h3>
    <!-- Low stock items here -->
    <div class="row my-4 mx-auto" id="lowStockContainer"></div>

    
    <div class="my-3 py-3">
        <h3 class="text-center">Best Sellers</h3>
        <!-- Best selling items here -->
        <div class="row my-4 mx-auto" id="bestRatedContainer"></div>
    </div>
</section>